body {
    font-family: 'Roboto', sans-serif;
}

.maincont{
    display:flex;
    max-width: 50%;
    min-width: 300px;
    /* justify-content: space-around; */
    background-color: white;
    margin: auto;
    
}
h1{
    font-weight:lighter;
    font-size: 43px;
    line-height:50px;
    margin:39px 40px;
    padding: 0;
}
.coin{
    position: relative;
    /* margin-right:15px ;
    width: 172px;
    height: 172px;
     */
     margin:0px;
     padding:0px;
}
.coin span{
    left: 105px;
    top: 38px;
    position: absolute;
    border-radius:100%;
    background-color:#833AE0;
    color: white;
    padding-top:10px;
    padding-bottom:12px;
    padding-left:5px;
    padding-right:3px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}
.desc{
    font-style: normal;
    font-size: 12px;
    /* line-height:19px; */
    list-style: none;
    /* text-decoration: none; */
    margin:0px;
    padding:0px; 
    text-align:left;
    width:100%;
    /* margin-right:10px; */
}
h2 a{
    font-style: normal;
    font-weight: bold;
    /* line-height:24px; */
    color: #833AE0;
    text-decoration: none;
    font-size: 16px;
}
.price{
font-style: normal;
font-weight: bold;
font-size: 16px;
color: #000000;
padding:0px;
width: 136px;
height: 120px;
margin-top:17px;

}
.price p{
    margin: 0;
}
.price span{
    color:#CCC6C6;
    font-size: 12px;  
}
.mainclass{
   display: flex;
   flex-wrap:wrap;
   justify-content:flex-start;
   max-width:1280px;;
   margin: auto;
   min-width:800px;
}
.main{
    display:flex;
    min-width: 600px;
    max-width: 920px ;
    justify-content: center;
    margin: auto;
}
.coinpict{ 
    position: relative;
    padding-top:0; 
    width: 50%;
}
 
.coinpict1 img{
    min-width: 50% ;
    max-width: 100%;
}
.coinpict2 img{
    min-width: 50% ;
    max-width: 100%;  
}

.descrip {
    width: 50%;
    background-color: #E1E1E1;
    font-family:Roboto;
    font-style: normal;
    font-size: 12px;
    line-height:130%;
    margin-left: 0px;
    margin-top: 50px;
    padding-right: 44px;
    padding-left: 47px;
    padding-top:37px;
    padding-bottom:40px;
}
.descrip span{
    color: gray;
    font-size:10px;
}
table{
    font-size:10px;
    margin-bottom:120px;
    
    
}
table tr:nth-child(2n+1){
    background-color:white;
}
.pricea span{
    color: black;
    font-weight: bold;
    font-size: 18px;
    padding-right:20px;
}
.pricea{
    color: gray;
    font-size:10px;  
}
.linktomain{
   padding-top:40px;
   
}
.mainimg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 172px;
    height: 172px;
}
.divclass{
    padding:0;
    width: 224px;
    margin:0 0 0 18px;
}
h2{
    font-size:18px;
    font:bold;
}
